.profile-page {
    padding: 3%;
}

.profile-details, .profile-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details p, .profile-form label {
    margin: 10px 0;
    font-size: 1.1em;
}

.profile-details strong {
    color: #333;
}

.profile-form label {
    display: block;
}

.profile-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.edit-profile-button, .profile-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-profile-button:hover, .profile-form button:hover {
    background-color: #45a049;
}

.profile-form button[type="button"] {
    background-color: #f44336;
}

.profile-form button[type="button"]:hover {
    background-color: #e53935;
}